.container
	.row
		%h1.center-align
			= "{#{@user.user_name}}"
		.col.l3
			%img.responsive-img.circle{src: "https://pbs.twimg.com/media/CN_bxAqWUAA5UFh.jpg"}
		.col.l9
			%h5.left-align
				= "#{@user.about_me}"

	.row
		.col.l3
			%ul
				%li
					= "Username: #{@user.user_name}"
				%li
					= "Location: #{@user.location}"
	.row
		- if @user.id == current_user.id
			- @user.items.each do |item|
				.card.col.l6.center
					.card-image.waves-effect.waves-block.waves-light
						%img.activator{src: "https://collegecandy.files.wordpress.com/2015/09/screen-shot-2015-09-04-at-10-54-29-am.png?w=594"}
					.card-content
						%span.card-title.activator.grey-text.text-darken-4 
							= item.name
							%i.material-icons.right
								more_vert
						.row
							= link_to item, method: :delete do
								%i.material-icons.black-text.medium
									not_interested
					.card-reveal
						%span.card-title.grey-text.text-darken-4
							= item.name
							%i.material-icons.right
								close
						%p 
							= item.description
		- else 
			- @items.each do |item|
				.card.col.l5
					.card-image.waves-effect.waves-block.waves-light
						%img.activator{src: "https://collegecandy.files.wordpress.com/2015/09/screen-shot-2015-09-04-at-10-54-29-am.png?w=594"}
					.card-content
						%span.card-title.activator.grey-text.text-darken-4
							= item.name
							%i.material-icons.right
								more_vert
						.row
							%button.btn
								= link_to 'Add', copy_path(:item_id => item.id), class: 'white-text'
							%i.material-icons.medium
								stars
					.card-reveal
						%span.card-title.grey-text.text-darken-4
							= item.name
							%i.material-icons.right
								close
						%p
							= item.description


	