.container
	.row
		.col.l9.offset-l3
			%h1.center-align.grey-text.text-darken-3
				= "{#{@user.user_name}}"
		.col.l3
			= image_tag @user.avatar.url(:medium), class: 'responsive-img circle'
			%ul
				%li
					= "Username: #{@user.user_name}"
				%li
					= "Location: #{@user.location}"
		.col.l9
			%h5.center-align
				= "#{@user.about_me}"

	.row
		- if @user.id == current_user.id
			- @user.items.each do |item|
				.card.col.l6.center
					.card-image.waves-effect.waves-block.waves-light
						= image_tag item.image.url(:medium), class: 'activator'
					.card-content
						%span.card-title.activator.grey-text.text-darken-4
							= item.name
							%i.material-icons.right
								more_vert
						.row
							= link_to item, method: :delete do
								%i.material-icons.black-text.medium
									not_interested
					.card-reveal
						%span.card-title.grey-text.text-darken-4
							= item.name
							%i.material-icons.right
								close
						%p
							= item.description
		- else
			- @items.each do |item|
				.card.col.l5
					.card-image.waves-effect.waves-block.waves-light
						= image_tag item.image.url(:medium), class: 'activator'
					.card-content
						%span.card-title.activator.grey-text.text-darken-4
							= item.name
							%i.material-icons.right
								more_vert
						.row
							%button.btn
								= link_to 'Add', copy_path(:item_id => item.id), class: 'white-text'
							%i.material-icons.medium
								stars
					.card-reveal
						%span.card-title.grey-text.text-darken-4
							= item.name
							%i.material-icons.right
								close
						%p
							= item.description
