.parallax-container
	.parallax
		%img{src:"https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQBl4gmhRyWzj-c4dM0YaUwAHJqjMmPawXCop87w4RdUOFifx8WSA"}
.section.white
	.row.container
		%h2.header
			{Food & Drink}
.parallax-container
	.parallax
		%img{src:"http://s2.quickmeme.com/img/04/04fe57729a3b601276d3fd8289f992e9258cecbfff6503cff04db11842329d5f.jpg"}
.section.white
	.row.container
		%h4.header
			{it's fine if you failed out of film school}
.container.row.center
	- @items.each do |item|
		.card.col.l6.center
			.card-image.waves-effect.waves-block.waves-light
				= image_tag item.image.url(:medium)
			.card-content
				%span.card-title.activator.grey-text.text-darken-4
					= item.name
					%i.material-icons.right
						more_vert
				.row
					= link_to copy_path(:item_id => item.id) do
						%i.material-icons.black-text.medium
							play_circle_filled

					%i.material-icons.medium.like_icon
						stars
			.card-reveal
				%span.card-title.grey-text.text-darken-4
					= item.name
					%i.material-icons.right
						close
				%p
					= item.description