.parallax-container
	.parallax
		%img{src:"https://infinitiff.files.wordpress.com/2012/04/97671885638813864_dxf9gwms_f.jpg"}
.section.white
	.row.container
		%h2.header
			{Food & Drink}
.parallax-container
	.parallax
		%img{src:"https://5oci4lm3di4101.files.wordpress.com/2014/06/dangerous-man-tap.jpg?w=640"}
.section.white
	.row.container
		%h4.header
			{don't get any in your beard}
.container.row.center
	- @items.each do |item|
		.card.col.l6.center
			.card-image.waves-effect.waves-block.waves-light
				= image_tag item.image.url(:medium)
			.card-content
				%span.card-title.activator.grey-text.text-darken-4
					= item.name
					%i.material-icons.right
						more_vert
				.row
					= link_to copy_path(:item_id => item.id) do
						%i.material-icons.black-text.medium
							play_circle_filled

					%i.material-icons.medium.like_icon
						stars
			.card-reveal
				%span.card-title.grey-text.text-darken-4
					= item.name
					%i.material-icons.right
						close
				%p
					= item.description