.parallax-container
	.parallax
		%img{src:"http://41.media.tumblr.com/2ae4be045fa652c4e768447e5f6a29e4/tumblr_mpai5ipSyv1srnjoio1_500.jpg"}
.section.white
	.row.container
		%h2.header
			{Life Choices}
.parallax-container
	.parallax
		%img{src:"http://ak-hdl.buzzfed.com/static/2014-08/30/14/enhanced/webdr08/enhanced-24294-1409424852-12.jpg"}
.section.white
	.row.container
		%h4.header
			{you will likely regret some of these}
.container.row.center
	- @items.each do |item|
		.card.col.l6.center
			.card-image.waves-effect.waves-block.waves-light
				= image_tag item.image.url(:medium)
			.card-content
				%span.card-title.activator.grey-text.text-darken-4
					= item.name
					%i.material-icons.right
						more_vert
				.row
					= link_to copy_path(:item_id => item.id) do
						%i.material-icons.black-text.medium
							play_circle_filled

					%i.material-icons.medium.like_icon
						stars
			.card-reveal
				%span.card-title.grey-text.text-darken-4
					= item.name
					%i.material-icons.right
						close
				%p
					= item.description