.container
	%h1 
		Create a New ~Adventure~
	= form_for @item do |f|
		.input-field
			= f.label :name
			%br/
			= f.text_field :name
		.input-field
			= f.label :description
			%br/
			= f.text_field :description
		.input-field
			= f.select :category, options_for_select(['Travel', 'Life Choices', 'Food & Drink', 'Career', 'Family', 'Other'])
			%label Category
		.input-field
			= f.hidden_field :user_id, {value: current_user.id }
		.actions
			= f.submit "YOLO", class: "btn"