<!DOCTYPE html>
<html>
<head>
  <title>PailPlan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<%= render 'layouts/navbar' %>
<div class="row">
	<div class="right col offset-l1">
		<%= "Welcome, #{current_user.user_name}" %>
	</div>
</div>
<%= yield %>

</body>
</html>
